body{ 
    width : 100%;
    height : 100%;
    background-color: #e0e0e0;
    margin: 0;
}
.wrap {
    width : 100%;
    height : 100%;

}

header > a > img {
    width: 60px;
    height: 60px;
    
}
header {
    background-color: rosybrown;
}

footer > .social-media > span > a > img {
    width: 20px;
    height: 22px;
    
}
footer {
    background-color: rosybrown;
}